
:root {
    --clr-dark-magenta: hsl(300, 43%, 22%);
    --clr-soft-pink: hsl(333, 80%, 67%);
    --clr-dark-grey-magenta: hsl(303, 10%, 53%);
    --clr-light-grey-magenta:  hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    --fs-regular: .9rem;
    --fs-large: 3rem;
    --ff-league-spartan: 'League Spartan', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* Reset */

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
}


body {
    font-size: var(--fs-regular);
    font-family: var(--ff-league-spartan);
    background-image: url('images/bg-pattern-top-mobile.svg') no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.accent-text {
    color: var(--clr-soft-pink);
}

/* Top section */

.top-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--clr-dark-magenta);
    text-align: center;
    line-height: 1.5;
}

@media (min-width: 50rem) {
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6rem;
    }

    .top-section > * {
        width: 100%;
    }
}

.text > * {
    margin-bottom: 2rem;
}

.heading {
    font-size: var(--fs-large);
    line-height: 1;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: var(--fw-bold);
}

.rating {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-light-grey-magenta);
    padding: 1rem 0;
    border-radius: 10px; 
}

@media (min-width: 50rem) {
    .rating {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        padding-left: 3rem;
        width: 80%;
    }


    .rating:nth-child(2) {
        align-self: center;
    }

    .rating:nth-child(3) {
        align-self: flex-end;
    }
}

.rating p {
    margin-top: .6rem;
    font-weight: var(--fw-bold);
}

.stars {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

/* Bottom section */

.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--clr-light-grey-magenta);
    margin: 2rem 0;
    line-height: 1.5;
}

@media (min-width: 50rem) {
    .bottom-section {
        flex-direction: row;
        min-height: 18rem;
    }
}

.testimonial {
    background-color: var(--clr-dark-magenta);
    border-radius: 6px;
    padding: 2.2rem 1.5rem;
}

@media (min-width: 50rem) {

    .testimonial:nth-child(1){
        align-self: flex-start;
    }
    .testimonial:nth-child(2){
        align-self: center;
    }

    .testimonial:nth-child(3){
        align-self: flex-end;
    }
}

.testimonial > * + * {
    margin-top: 1.7rem;
}

.testimonial-author {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.buyer-image {
    border-radius: 50%;;
}

